.mainAbout {
    padding-bottom: 162px;
}

.sectionCollaps__about{
  

    height: auto;

    .coll{
        display: flex;
        justify-content: center;
       
        height: auto;
        // border: black solid 2px;
        position: relative;
        margin: 31px 0;
    }

}
    
    
    
 
