.mainAbout {
    padding-bottom: 162px;
}

.sectionCollaps__about{
  
    .containerCollapse{
        display: flex;
        justify-content: center;
        height: auto;
        position: relative;
        margin-bottom: 31px;

        @media screen and (max-width: 991px) {
            margin-bottom: 26px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

}
    
    
    
 
