@import '../../styles/utils/variables';



// .sectionCollapsAbout {
// width: 100%;
// }
// .sectionCollapsHousing {
// width: 45%;
// }
.containerCollaps {

   
   display: flex;
   flex-direction: column;

    &__housing {
        position: relative;
        width: 45%;
    }

    &__about {
        position: relative;
        width: 100%;
    }

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 52px;
        background: $colorTheme;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
    }

    &__title {
        color: white;
    }

    &__content {
        content: "";
        position: absolute;
        width: 100%;
        top: 40px;
        padding-top: 40px;
        z-index: -1;
        height: 250px;
        color: $colorTheme;
        background:  $colorTheme2;
        padding-left: 20px;
        padding-right: 20px;
    }
}

