main {
    @include marginContainer;
}

.containerCards {
    padding-top: 31px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background: $colorTheme2;
    border-radius: 25px;

    a {
        margin: 25px;
        border-radius: 25px;
        box-shadow: 0px 0px 0px $colorGr;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.05);
            box-shadow: 10px 10px 10px $colorGr;
            .cards::after{
                opacity: 0.5;
            }
            .cards>h2 {
                font-size: 18.5px;
            }
        }
    }
}


.cards {
    position: relative;
    height: 340px;
    width: 340px;
    border-radius: 20px;
    display: flex;

    &::after {
        content:"";
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.61));
        width: 100%;
        height: 100%;
        border-radius: 20px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
    }

    img {
        margin: 0;      
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    h2 {
        z-index: 3;
        padding: 0 20px 15px 20px;
        border-radius: 20px;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        position: absolute;
        bottom: 0;
        color: $colorWh;
        transition: all 0.2s ease-in-out;
    }

}