.logo {
  width: 210px;
  // height: 68px;
  img {
    width: 100%;
  }

  @media screen and (max-width: 992px) {
    width: 177px;
  }
  @media screen and (max-width: 768px) {
    width: 145px;
  }
  @media screen and (max-width: 320px) {
    width: 120px;
  }
}
