@import '../../styles/utils/variables';

.nav {
    width: 250px;
    // margin-bottom: 63px;
    font-size: 24px;
    font-weight: 500;

    @media screen and (max-width: 991px) {
        width: 200px;
        font-weight: 500;
        // margin-bottom: 30px;
    }

    @media screen and (max-width: 768px) {
        width: 130px;
        font-weight: 500;
    }
 

    &__list{
        // margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 991px) {
            // margin-top: 19px;
        }

        @media screen and (max-width: 320px) {
            display: flex;
            flex-direction: column;
            height: 40px;
            width: 180px;
         }
    }
}

.list {
    
    &__active {
        position: relative;
        
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5px;
            bottom: 2px;
            background: $colorTheme;

            @media screen and (max-width: 991px) {
                height: 1px;
                bottom: 2px;
            }
            @media screen and (max-width: 768px) {
                height: 0.5px;
                bottom: 1.5px;
            }
        }
    } 
}

.list, .list__active {
    font-size: 24px;

    @media screen and (max-width: 991px) {
        font-size: 20px;
    }
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
    
}



