@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Montserrat:wght@100;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @include fullSize;
}

body {
  @include fullSize;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.mainContainer {
  @include marginContainer;
  color: $colorTheme;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $colorTheme;
}
