@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.containerCollapse {
  display: flex;
  flex-direction: column;

  &__housing {
    width: 46.93%;
    height: auto;

    @media screen and (max-width: 992px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__about {
    display: flex;
    width: 82.5%;

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  &__header {
    width: 100%;
    @include centerY;
    justify-content: space-between;
    background: $colorTheme;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;

    @media screen and (max-width: 992px) {
      border-radius: 7px;
    }
    @media screen and (max-width: 768px) {
      border-radius: 5px;
    }

    &__housing {
      height: 52px;

      @media screen and (max-width: 992px) {
        height: 40px;
      }

      @media screen and (max-width: 768px) {
        height: 30px;
      }
    }

    &__about {
      height: 47px;
      @media screen and (max-width: 992px) {
        height: 38px;
      }
    }
  }

  &__title {
    color: $colorWh;

    &__about {
      font-size: 24px;
      font-weight: 500;

      @media screen and (max-width: 992px) {
        font-size: 18px;
      }

      @media screen and (max-width: 768px) {
        font-size: 13px;
      }
    }

    &__housing {
      font-size: 18px;
      font-weight: 500;
      line-height: 25.67px;

      @media screen and (max-width: 992px) {
        font-size: 16px;
      }

      @media screen and (max-width: 768px) {
        font-size: 13px;
      }
    }
  }

  &__arrows {
    @include centerY;
  }

  &__arrow {
    width: 26px;

    @media screen and (max-width: 992px) {
      width: 20px;
    }

    @media screen and (max-width: 768px) {
      width: 16px;
    }
  }

  &__content {
    border-radius: 10px;
    position: relative;
    width: 100%;
    top: -10px;
    z-index: -1;
    color: $colorTheme;
    background: $colorTheme2;

    &__housing {
      height: 249px;
      font-size: 18px;
      line-height: 143%;
      padding: 30px 12px 27px 20px;
      height: 249px;

      @media screen and (max-width: 1104px) {
        height: 260px;
      }
      @media screen and (max-width: 992px) {
        height: auto;
        font-size: 12px;
        padding: 30px 10px 14px 16px;
      }
      @media screen and (max-width: 768px) {
        height: auto;
        font-size: 12px;
        padding: 23px 7px 2px 12px;
      }
    }

    &__about {
      height: auto;
      font-size: 24px;
      font-weight: 400;
      padding: 36px 27px 5px 18px;
      line-height: 34.22px;

      @media screen and (max-width: 992px) {
        padding: 28px 17px 19px 14px;
        font-size: 18px;
        line-height: 26px;
      }
      @media screen and (max-width: 768px) {
        // min-height: 144px;
        padding: 23px 7px 52px 12px;
        font-size: 12px;
        line-height: 17.11px;
      }
    }
  }
}
