@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

footer {


    height: 100px;
    width: 100%;
    align-items: flex-end;
    height: $heightFooter;
    @include centerAll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: $colorBl;
    font-size: 12px;

    p {
        color: $colorWh;
        margin-top: 28px;
        font-size: 22px;
    }

    img {
        top: 0;
        margin-top: 66px;
    }
}