@import"../../styles/utils/variables";

main {
    height: auto;
    font-size: 36px;
    color:$colorTheme;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 288px;
        color:$colorTheme;
        
    }
}