@import "../../styles/utils/variables";

.housing {
    color: $colorTheme;
    font-size: 18px;

    .informations {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        h1 {
            font-size: 36px;
            font-weight: 500;
            line-height: 51.34px;
        }

        .location {
            font-size: 20px;
            font-size: 500;
         }

        button {
            border: $colorWh solid 1px;
            background: $colorTheme;
            margin-right: 10px;
            margin-top: 20px;
            margin-bottom: 24px;
            padding-left: 30px;
            padding-right: 30px;
            min-width: 115px;
            height: 25px;
            border-radius: 10px;

            p {
                font-size: 14px;
                color: $colorWh;
            } 
        }
    }
}

.host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__info {
        display: flex;
        align-items: center;
        height: 65px;

        &__name {
            width: min-content;
            margin-right: 10px;
            text-align: end;
        }

        img {
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }
    }

    &__stars {
        margin-top: 24px;

        &__star {
            margin-left: 10px;
            height: 30px;
        }
    }
}

.sectionCollaps__housing {
    height: 292px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}

