@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.banner {
    display: flex;
    width: 100%;
    padding: 0 16px 0 16px;
    height: 223px;
    margin-bottom: 43px;
    border-radius: 25px;
    @include centerAll;

    &__home {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../../assets/images/IMG.png") center/cover;
    }
    &__about {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../../assets/images/kalen-emsley-Bkci_8qcdvQ-unsplash.png") center/cover;
    }

    &__title {

        color: $colorWh;
        z-index: 2;
        font-size: 50px;
        font-weight: 500;
        border-radius: 25px;
    }
}


